.wrap {
  box-sizing: border-box;
  font-family: "Nerko One", cursive;
  background-color: #fdfcea;
}

.cute {
  font-family: "Nerko One", cursive;
}
.soso {
  font-family: 微軟正黑體;
}
/* header */
.header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #fdfcea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo img {
  width: 35%;
}

/* .menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    } */
.item {
  display: flex;
}
.item a {
  text-decoration: none;
}
.item pre {
  font-size: 28px;
  color: #67705d;
  letter-spacing: 1.5px;
  padding: 10px 15px;
}

.item pre:hover {
  color: #fdfcea;
  background-color: #67705d;
  transition: all 0.3s;
}

/* burger */
.burger {
  display: none;
}

.burger-list {
  display: none;
}

/* section */
.section {
  transition: all 0.3s;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  letter-spacing: 1.5px;
  line-height: 1.2;
  padding-bottom: 180px;
  align-items: flex-start;
}

/* sec01 */

.sec01 {
  font-family: 微軟正黑體;
  color: #67705d;
  width: 15%;
  margin: 0 100px 0 150px;
}
.sec01 img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.sec01-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.sec01 h2 {
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.skill {
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.sec01 ul {
  margin-top: 20px;
  padding-left: 20px;
  line-height: 24px;
  font-size: 16px;
}
.sec01 li {
  margin-bottom: 8px;
}

.skill span,
.skill a {
  margin-right: 10px;
  border-radius: 30%;
  padding: 2px;
  text-decoration: none;
}
.Ps {
  color: #7ca8f3;
  /* background-color: rgb(49, 47, 85); */
  border: #7ca8f3 2px solid;
}
.Ai {
  color: #ba6213;
  /* background-color: #533113; */
  border: #ba6213 2px solid;
  width: 100px;
}
.Be {
  color: #1d59da;
  /* background-color: #1d59da; */
  border: #1d59da 2px solid;
}
/* sec02 */
.sec02 {
  display: flex;
  justify-content: center;
  font-family: 微軟正黑體;
  color: #67705d;
  width: 80%;
}
.sec02-title {
  font-weight: 700;
  font-size: 22px;
  text-align: left;
  margin-bottom: 5px;
}
.sec02-subtitle {
  font-size: 22px;
  text-align: left;
  margin-bottom: 30px;
}
.subtitle {
  color: #ba6213;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.subtitle-sub {
  color: #ba6213;
  /* opacity: 80%; */
  font-size: 14px;
}
.content {
  margin-top: 15px;
  font-size: 15px;
}
.study {
  width: 45%;
  margin: 0 20px 20px 0;
  position: relative;
}

.study-item,
.work-item {
  position: relative;
  padding: 0 0 20px 10px;
}
::before {
  box-sizing: border-box;
}
.study-item::before,
.work-item::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 113px;
  left: -8px;
  top: 0px;
  background: #fdfcea;
  border: 2px solid #ba6213;
}
.study-item,
.work-item {
  border-left: #ba6213 2px solid;
  padding-left: 20px;
}

.work {
  width: 80%;
  margin: 0 20px 20px 0;
}
.content li {
  margin-bottom: 8px;
}
.tag {
  margin-top: 10px;
  opacity: 50%;
}

/* footer */
footer {
  background-color: #67705d;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer p {
  padding: 20px;
  color: #fdfcea;
}

@media (max-width: 1200px) {
  .item {
    display: none;
  }
  .header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    width: 20%;
    position: absolute;
    left: 5px;
    top: 15px;
  }
  /* burger */
  .burger {
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #67705d;
    position: absolute;
    right: 20px;
    cursor: pointer;
    padding: 10px;
  }
  /* .burger:hover {
    background-color: #67705d;
    color: #fdfcea;
    padding: 10px;
    border-radius: 50%;
  } */
  .burger-list {
    font-size: 30px;
    width: 100%;
    height: 600px;
    background-color: #fdfcea;
    opacity: 85%;
    position: absolute;
    top: 60px;
  }

  .burger-list a {
    text-decoration: none;
    color: #67705d;
    letter-spacing: 1.2px;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 15px;
  }
  .burger-list a:hover {
    background-color: #67705d;
    color: #fdfcea;
  }

  .banner {
    display: none;
  }
  .banner-mobile {
    display: block;
    width: 100%;
  }

  .img-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .img-group img {
    width: 70%;
    margin: 20px;
  }
  .footer img {
    width: 80%;
  }
}
@media (max-width: 1080px) {
  /* sec01 */
  .sec01 {
    margin: auto;
    width: 50%;
    margin-top: 0px;
    padding-left: 10%;
  }
  .sec01 img {
    width: 100%;
  }
  .sec01 ul {
    padding-left: 100px;
  }
  /* sec02 */
  .sec02 {
    margin-top: 0px;
    flex-wrap: wrap;
    padding-left: 100px;
  }
  .subtitle {
    font-weight: 700;
  }
  .study,
  .work {
    width: 100%;
    margin-bottom: 80px;
  }
}
@media (max-width: 992px) {
  .logo img {
    width: 23%;
  }
  /* sec01 */
  .sec01 {
    padding-left: 76px;
  }
}
@media (max-width: 886px) {
  .sec01 ul {
    padding-left: 76px;
  }
}
@media (max-width: 700px) {
  .sec01 ul {
    padding-left: 2px;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 28%;
  }
  /* sce01 */
  .sec01 ul {
    padding-left: 30px;
  }
}
/* @media (max-width: 576px) {
  .logo img {
    width: 35%;
  }
} */
@media (max-width: 656px) {
  /* section */
  .section {
    flex-wrap: wrap;
  }

  .sec02-title,
  .sec02-subtitle {
    text-align: center;
  }
  /* sec01 */
  .sec01 {
    margin: auto;
    width: 70%;
    padding-bottom: 80px;
    padding-left: 0px;
  }
  .sec01-title {
    font-size: 35px;
  }
  .sec01 img {
    width: 100%;
  }
  .skill {
    padding: 10px;
  }
  .sec01 h2 {
    font-size: 30px;
  }
  .sec01 ul {
    padding-top: 30px;
    font-size: 25px;
  }
  .sec01 li {
    padding-bottom: 10px;
  }

  /* sec02 */
  .sec02 {
    flex-wrap: wrap;
    padding-left: 70px;
  }
  .sec02-title {
    font-size: 32px;
  }
  .sec02-subtitle {
    font-size: 30px;
  }
  .subtitle {
    font-size: 28px;
    font-weight: 700;
  }
  .subtitle-sub {
    font-size: 23px;
  }
  .content {
    font-size: 25px;
  }
  .study,
  .work {
    width: 100%;
    margin-bottom: 80px;
  }
  .tag {
    font-size: 23px;
  }
}
@media (max-width: 414px) {
  /* sec01 */
  .sec01-title {
    font-size: 28px;
  }
  .sec01 h2 {
    font-size: 24px;
  }
  .sec01 ul {
    padding-left: 0px;
    font-size: 20px;
  }
  /* sec02 */
  .sec02-title {
    font-size: 30px;
    text-align: left;
  }
  .sec02-subtitle {
    text-align: left;
    font-size: 25px;
  }
  .subtitle {
    font-size: 23px;
  }
  .subtitle-sub {
    font-size: 16px;
  }
  .content {
    font-size: 20px;
  }
}
